<!DOCTYPE html>
<html>
<head>
    <title></title>
    <% include partial/header.ejs %>
</head>
<body>
<div class="container">
    <% include partial/mainmenue.ejs %>

    <div class="panel panel-default">
        <% include partial/footer %>
        <div class="panel-body">
    <%- form %>
        </div>
    </div>
</div>
</body>
<script src="/javascripts/bootstrap.min.js"></script>
</html>