<!DOCTYPE html>
<html ng-app="search">
<head>
    <title></title>
    <% include partial/header.ejs %>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="/searchapp/Angapp.js"></script>
</head>
<body ng-controller="CSVsearchCtrl">

<div class="container">
    <% include partial/mainmenue.ejs %>
    <div class="panel panel-default">
        <div class="panel-body">
            <input type="text" ng-model="name" placeholder="Name">
            <input type="text" ng-model="adr" placeholder="Address">
            <input type="text" ng-model="team" placeholder="Team">
            <hr>
            <btn class="btn" ng-click="loadMore()">Load more</btn>
            <table class="table table-striped" >
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Address</th>
                    <th>Team</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in csvrows | limitTo:20 | filter:{name:name}| filter:{address:adr}| filter:{team:team}">
                    <th>{{row.Id}}</th>
                    <th>{{row.name}}</th>
                    <th>{{row.age}}</th>
                    <th>{{row.address}}</th>
                    <th>{{row.team}}</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<script src="/javascripts/bootstrap.min.js"></script>
</html>